/* Untuk Tablet */
@media screen and (max-width: 1000px) {
  .team{
    width: 33%;
    margin-right: 20px;
    margin-bottom: 20px;}
}

/* Untuk Smartphone */
@media screen and (max-width: 670px) {

  .content-header {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }

  .team{
    width: 50%;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
  }
}
