/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .content-header {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
}