/* Untuk Tablet */
@media all and (max-width: 1000px) {
.top-wrapper{
    padding:100px 30px 100px 30px;
}
.top-wrapper img{
    float:right;
    width:30%;
}
.top-left{
    float:left;
    padding-top:20px;
}
.top-left h1{
	font-size:25px;
}
.top-left h2{
  font-size:15px;
  padding-bottom:25px;
}
.top-left p{
font-size:17px;
padding-bottom:3px;
}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .content-header {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
.top-wrapper{
    padding:100px 30px 100px 30px;
    text-align:center;
}
  .top-left{
  	padding-top: 50px;
  	
  }
  .top-wrapper img{
    float:right;
    width:100%;
}
.top-left p{
font-weight:8px;
letter-spacing:3px;
}
}