@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clear{
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.fa {
  margin-right: 5px;
}

/* Bagian Header */
header {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 65px;
  opacity: 0.9;
  top: 0px;
}

.title-header {
  line-height: 65px;
  padding-left: 25px;
  float: left;
  display: block;
}

.title-header h1 {
  font-size: 18px;
}

.content-header {
  float: right;
  margin-right: 25px;
}

.content-header a {
  color: #000;
  line-height: 65px;
  padding: 0 25px;
  display: block;
  float: left;
  transition: all 0.5s;
}

/* .content-header a:hover {
  background-color: rgba(255, 255, 255, 0.9);
} */

.menu-icon {
  color: white;
  float: left;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

/* Bagian Top Wrapper */
#top-wrapper {
  padding:180px 0px;
}

.left{
  float:left;
  text-align: center;
  width: 45%;
  padding: 80px 0px;
}
  
.left h2{
  font-size:26px;
  padding-bottom: 20px;
}

.left p {
  margin-bottom: 10px;
}

.right {
  float:right;
  text-align: center;
  width: 45%;
}

.right img{
  height: 300px;
}
  
/* Bagian Team Wrapper */
.team-wrapper {
  padding: 0% 5%;
  text-align:center;
  padding-bottom: 80px;
}

.heading{
  color:#5b5e5e;
  padding:80px 0px 50px 0px;
}

.heading h2{
  font-size: 26px;
}

.teams{
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding:20px 20px;
  background-color: white;
}

.team{
  flex-wrap: auto;
  width: 17%;
  margin-right: 10px;  
}

.team-img img{
  width: 150px;
  height: 200px;
}

.team:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
    
/* Bagian Join Wrapper */
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.heading h4 {
  font-weight: normal;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 2px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.join-wrapper {
 border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.join {
  padding: 15px 40px;
  background-color: #6C63FF;
  cursor: pointer;
  box-shadow: 0 7px #000;
}

.join:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


/* Bagian Footer */
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #6C63FF;
  width: 100%;
}

footer p {
  color: white;
  text-align: center;
  font-weight: bold;
}