@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.fa {
    margin-right: 5px;
}

/* Bagian Header */

/* Add a black background color to the top navigation */
header {
    background-color: #6C63FF;
    color: white;
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 65px;
    opacity: 0.9;
    top: 0px;
}

.title-header {
    line-height: 65px;
    padding-left: 25px;
    float: left;
    display: block;
}

.title-header h1 {
    font-size: 18px;
}

.content-header {
    float: right;
    margin-right: 25px;
}

.content-header a {
    line-height: 65px;


/* Bagian Top Wrapper */
.top-wrapper {

}

/* Bagian Team Wrapper */
.team-wrapper {

}

/* Bagian Join Wrapper */
.join-wrapper {

}

/* Bagian Footer */
footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #6C63FF;
    position: fixed;
    width: 100%;
}
footer p {
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
  